scaleway_access_key=
scaleway_secret_key=
scaleway_project_id=
cluster_issuer_name=
letsencrypt_email=
grafana_hostname=
grafana_admin_password=
vault_server_hostname=
install-hashicorp-vault=
vault_data_storage_size=
vault_ui=
argocd_hostname=
argocd_password=
argocd_repo_password=
argocd_repo_username=
argocd_repo_url=
cluster_issuer_server=
k8s_cluster_name=
k8s_pool=